<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="domainUrl" value="https://uat.yeeoffice.cn"/>
    <add key="secret" value="QGnQC3Oj0Avi3f+CqXogHsUBeI13kIuVFUFFru0bWeepEqO6Dxt45W/WOftKVRV8YcZtlWS6IHyFMXs9bPI/VpM7RE/nZcZE7XYp0dUrtKbaokwXFHBfolGXa/A6Dc85S4D8pZ+wBAJ+Tg5VdcZoRA=="/>
  </appSettings>
</configuration>